<div style="text-align: center;">
	<form [formGroup] = "loginform" (ngSubmit) = "login()" style="text-align: center;">
		<div>
		  <label for="user"></label>
		  <input type="text" name= "user" id= "user" class="form-control" formControlName = "user" placeholder="Please enter username" >
		</div>

		<div>
		  <label for="password"></label>
		  <input type="text" name= "password" id= "password" class="form-control" formControlName = "password" placeholder="Please enter password">
		</div>
		<div *ngIf = "invalid" class="alert alert-danger">
		 	Invalid username ar password
			Add a comment to this line
		</div>
		<br />
		<input type="submit" value= "Login" class= "btn btn-primary">
  </form>
  
</div>	