<button (click) = "logout()" [routerLink] = "['/login']">fff</button>
<h1 style="text-align:center">Messages</h1>
<ul  class = "list-group">
   <li class = "list-group-item" *ngFor = "let key of messages">
      <a [routerLink] = "['/user', key.user_id]">
        <p *ngIf="key.user_id" [innerHTML]="imgs[key.user_id]"></p>
      </a>
      <h4><b>{{key.head}}</b></h4>
      <p>{{key.body}}</p>
      <p>Calps: {{key.likes}}</p>
      <button class="btn btn-info" (click) = "like(key.key, key)">Like</button>
      <button class="btn btn-info" (click) = "showUpdate(key.key , key)">Edit</button>
      <!--button class="btn btn-info" (click) = "showComments(key.id)">Comments</button-->
      <div *ngFor = "let comment of comments">
        <p *ngIf = "comment.message_id == key.id">{{comment.body}}</p>
      </div>
      <div *ngIf = "updates[key.id]">
          <form [formGroup] = "updateform" (ngSubmit) = "updateMessage(key.id)">
            <div>
              <label for="head"></label>
              <input type="text" name = "head" id = "head" formControlName = "head" class = "form-control" >
              <div *ngIf = "updateform.get('head').touched && updateform.get('head').invalid" class="alert alert-danger">
                Head is required
            </div>       
            </div>
            <div>
              <label for="body"></label>
              <input type="text" name = "body" id = "body" formControlName = "body" class = "form-control">
              <div *ngIf = "updateform.get('body').touched && updateform.get('body').invalid" class="alert alert-danger">
                  Body is required
              </div>   
            </div>
            <input type="submit" value = "Save" class = "btn btn-primary">
          </form>       
        </div>
    </li>
  </ul>